<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap" rel="stylesheet">
    <title>Mon Beau Lapin</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkuNmqZQhfGWbBx-dvZ9IdRJKTcFUsbGNk0M_UlI50WuZcY0-y">
</head>
<body>
    <header> 
    <section class="en-tete">
        <!-- TITRE -->
        <div class="en-tete text" >
            <div id="titre_principal" class= "text-center">
                <h1 class="font-weight-bold text-white">Mon beau lapin</h1>
            </div>
        </div>

        <!-- BARRE DE NAVIGATION -->
        <nav class="menu navbar navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="images/carotte2.2.png" alt="Bon beau lapin"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Généralités</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/journee">Journée type du lapin</a>
                            <a class="dropdown-item" href="#">Du jardin à l'urbain</a>
                            <a class="dropdown-item" href="#">Un lapin dans la ville</a>
                            <a class="dropdown-item" href="#">Espérance de vie du lapin</a>
                            <a class="dropdown-item" href="#">Adopter un lapin</a>
                            <a class="dropdown-item" href="/text">Préparer l'arrivée de mon lapin</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Habitat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Alimentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Santé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/form">Contact</a>
                    </li>        
                </ul>
            </div>
        </nav>
    </section>
    </header>

    <!-- BANNIERE -->
    <img src="images/banniere2.jpg" class="img-fluid" alt="Responsive image">

    <!-- TEXTE -->
    <div class="container-fluid body">
        <div class="text">
        <p class="phrase font-weight-bold text-center">Vous souhaitez tout savoir sur nos amis les lapins, alors bienvenue.</p>
    
        <p class="espace">Le lapin de compagnie est un animal affectueux qui a trouvé sa place au sein des foyers. Intelligent et sensible, il requiert l’attention et l’affection de ses maîtres.</p> 
        <p class="espace"> Mais <em class="text-danger font-weight-bold">adopter un lapin n’est pas une décision à prendre à la légère.</em> Renseignez-vous bien avant de vous lancer pour voir si le lapin de compagnie peut être un animal qui vous correspond et pour bien préparer son arrivée.</p> 
        <p class="espace"> Ce site constitue une mine d’informations tant en vue de son acquisition que pour son entretien au quotidien: éducation, alimentation, santé,...</p>
        </div>
    
        <div class="row d-flex align-items-end pb-4">
            <div class="col-md-2">
                <img src="images/logo.jpg" alt="lapin bélier gris" class="rounded logo img-fluid d-none d-md-block">
            </div>
            
            <div class="col-md-8">
                <p><strong>Petits conseils:</strong></p>
                <p>- Non à la cage: elle n’est absolument pas adaptée aux lapins, qui sont des animaux vifs qui ont besoin d’espace pour courir et sauter.</p> 
                <p>- Ca coûte cher en entretien (au quotidien avec son alimentation, ou occasionnellement avec les frais vétérinaires).</p>
                <p>- Adoptez: ne cautionnez pas l’exploitation d’animaux en animaleries ou en élevages, adoptez des lapins qui ont été abandonnés dans une association.</p>
                <p>- Pas pour les enfants: un lapin est un animal fragile, caractériel et coûteux. Il ne peut être de la seule responsabilité d’un enfant.</p>
                <p>- 10 ans d’engagement: un lapin a une espérance de vie de 10 à 12 ans. C’est un engagement à long terme.</p>
                <p>- Une alimentation naturelle: l’alimentation du lapin est basée essentiellement sur le foin et la verdure fraîche.</p>
            </div>

            <div class="col-md-2">
                <img src="images/chemin2.jpg" alt="lapin blanc sur un chemin" class="rounded chemin img-fluid d-none d-md-block">
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer>
    <div class="container-fluid footer ">
        <div class="row">
            <p class="col-10 pfoot">Tous droits réservés. ©</p>
            <ul class="list-unstyled d-inline-flex img-fluid col-2">
                <li><a href="https://twitter.com/?lang=fr" target="_blank"><img src="images/reseaux_sociaux/twitter1.jpg" title="twitter" class="imgFooter"></a></li>
                <li><a href="https://www.instagram.com/?hl=fr" target="_blank"><img src="images/reseaux_sociaux/insta1.jpg" title="instagram" class="imgFooter"></a></li>
                <li><a href="https://www.facebook.com/?stype=lo&jlou=AfeGvOsiG-pTY1kUHlDRrArc6VmDCdtnuD_YTzyQPC6xqEg9ElpTI6EEHuAboUFO7Qi-o7CAuKIOyyAu2-qGm4h1XOTM2b4ci766hg2sXvVr5Q&smuh=35373&lh=Ac_NwqmF7qdcJVDH" target="_blank"><img src="images/reseaux_sociaux/facebook1.png" title="facebook" class="imgFooter"></a></li>
            </ul>
        </div>          
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>