<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap" rel="stylesheet">
    <title>Mon Beau Lapin</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkuNmqZQhfGWbBx-dvZ9IdRJKTcFUsbGNk0M_UlI50WuZcY0-y">
</head>
<body>
    <header> 
    <section class="en-tete">
        <!-- TITRE -->
        <div class="en-tete text" >
            <div id="titre_principal" class= "text-center">
                <h1 class="font-weight-bold"> <a class="text-white text-decoration-none" href="/">Mon beau lapin</a></h1>
            </div>
        </div>

        <!-- BARRE DE NAVIGATION -->
        <nav class="menu navbar navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="images/carotte2.2.png" alt="Bon beau lapin"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white d-md-none" href="/">Accueil</a>
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Généralités</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Journée type du lapin</a>
                            <a class="dropdown-item" href="#">Du jardin à l'urbain</a>
                            <a class="dropdown-item" href="#">Un lapin dans la ville</a>
                            <a class="dropdown-item" href="#">Espérance de vie du lapin</a>
                            <a class="dropdown-item" href="#">Adopter un lapin</a>
                            <a class="dropdown-item" href="/text">Préparer l'arrivée de mon lapin</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Habitat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Alimentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Santé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="form.html">Contact</a>
                    </li>        
                </ul>
            </div>
        </nav>
    </section>
    </header>

    <!-- BANNIERE -->
    <img src="images/menu2.jpg" class="img-fluid" alt="lapin couché sol">

    <!-- VIDEO -->
    <div class="container-fluid body">
        <div class="text">
        <p class="phrase font-weight-bold text-center">Journée type du lapin</p>
        <p>Voici une petite vidéo qui vous montrera le quotidien d'un lapin. Bon on va pas se mentir, il ne fait rien de la journée. Un vrai glandeur. Il mange, il dort, comme le chat en fait.</p>
        <br/>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/khUb28yoJPw" allowfullscreen class="embed-responsive-item"></iframe>
        </div>
        <br/>
        <p class="espace">Le lapin a un rythme de vie particulier, conséquence directe du rythme de vie de son cousin sauvage. Il vit principalement le jour avec deux grandes périodes d'activité : tôt le matin et à la tombée de la nuit. Tout au long de la journée, il alterne les repas (une vingtaine par jour) et les siestes. C'est au crépuscule qu'il est le plus actif et que vous pouvez le plus jouer avec lui.</p>
        <br/>
        <h2 class="font-weight-bold">Premier pic d'activité : Le lever du soleil</h2>
        <p class="espace">Aux premiers rayons du soleil, le lapin s'active. Ce qui signifie que l'été vous avez tout intérêt à fermer les volets si vous ne voulez pas être réveillé trop tôt ! Aussitôt réveillé, le lapin se met au travail. Il parcourt son territoire pour contrôler que tout est normal.</p>
        <p class="espace">Une fois ce petit rituel accompli, il se met en quête de nourriture. Si sa gamelle est vide, vous risquez d'être réveillé plus tôt que prévu car monsieur lapin n'est pas toujours très patient et n'hésite pas à frapper sa gamelle contre le sol si le petit déjeuner n'arrive pas assez rapidement . Il aime avoir le ventre plein avant de se recoucher. C'est pendant cette période d'intense activité que le lapin est le plus intéressant à observer, il renifle, observe, écoute, joue, simule des poursuites ou des combats, marque son territoire du menton. Il s'intéresse à son environnement et aux activités qui s'y déroulent.
        C'est le moment de servir le premier repas de la journée.</p>
        <p class="espace">Après ces folles activités, monsieur lapin se repose, à moins qu'il y ait de l'agitation dans la maison et que sa curiosité l'emporte sur son envie de faire une petite sieste.
        La matinée se déroule calmement en alternant repas, balades et siestes.</p>
        <br/>
        <h2 class="font-weight-bold">L'après midi ressemble bien souvent à ça :</h2>
        <img src="images/journeetype.jpg" alt="lapin faisant une sieste" class="img-fluid">
        <br/>
        <p class="espace">Le principal souci du lapin étant de trouver la meilleure position pour roupiller jusqu'au soir. Vous allez être tranquille.</p>
        <p class="espace">Vers 17-18h l'activité redémarre lentement pour atteindre un pic vers 21h-22h. Le lapin recommence le même rituel : exploration du territoire, courses, jeux et bien entendu repas !</p>
        <p class="espace">Le soir le lapin fait son deuxième repas important de la journée, cela ne signifie pas qu'il ne mange que 2 fois. En réalité il passe sa journée à manger (les jeunes font jusqu'à 40 repas par jour). Manger est une activité importante et nécessaire au lapin, ce grignotage perpétuel favorisant la mobilité de son système digestif et l'usure de ses dents</p>
        <p class="espace">Le lapin n'a pas vraiment d'horaire pour se coucher, il se plie à votre rythme et à celui des saisons. L'été, il a tendance à se coucher plus tard et apprécie de se promener dehors pour profiter de la fraîcheur. L'hiver, il est plus casanier et à tendance à hiberner un peu.
        </p>
        <br/>
        <h2 class="font-weight-bold">Et la nuit ?</h2>
        <p class="espace">Le lapin de garenne sort peu le jour et a donc une vie nocturne assez intense, ce n'est pas toujours le cas du lapin de compagnie. Celui-ci s'adapte à l'emploi du temps des humains. Des études scientifiques* ont montré que le lapin domestique avait un rythme de vie légèrement différent du lapin sauvage même lorsqu'il était mis dans les mêmes conditions de vie. Il a légèrement modifié son rythme d'activité pour l'adapter à celui de l'homme. Il dort plus la nuit et est plus actif le jour que le lapin de garenne.
        La nuit le lapin connait aussi une période de repos. Certains lapins assez nerveux ne dorment vraiment que la nuit quand ils sont seuls. Dans la journée ils se couchent mais ne dorment pas. D'autres lapins qui dorment beaucoup l'après-midi restent très actifs la nuit. On peut considérer que la nuit est un temps de repos même si le lapin ne se couche pas des heures durant. Il m'est arrivé de faire des nuits blanches pendant lesquelles les lapins n'ont pas dormi par curiosité et le lendemain ils étaient épuisés. Preuve que la nuit, habituellement, ils dorment bien!
        Le rythme de vie dépend aussi de l'âge du lapin, les jeunes ayant tendance à être un peu plus nerveux et les vieux plus calmes. Le lapin est aussi capable de bousculer ses horaires pour s'adapter aux vôtres et profiter de votre présence.</p>
        </div>
    </div>


    <!-- FOOTER -->
    <footer>
    <div class="container-fluid footer ">
        <div class="row">
            <p class="col-10 pfoot">Tous droits réservés. ©</p>
            <ul class="list-unstyled d-inline-flex img-fluid col-2">
                <li><a href="https://twitter.com/?lang=fr" target="_blank"><img src="images/reseaux_sociaux/twitter1.jpg" title="twitter" class="imgFooter"></a></li>
                <li><a href="https://www.instagram.com/?hl=fr" target="_blank"><img src="images/reseaux_sociaux/insta1.jpg" title="instagram" class="imgFooter"></a></li>
                <li><a href="https://www.facebook.com/?stype=lo&jlou=AfeGvOsiG-pTY1kUHlDRrArc6VmDCdtnuD_YTzyQPC6xqEg9ElpTI6EEHuAboUFO7Qi-o7CAuKIOyyAu2-qGm4h1XOTM2b4ci766hg2sXvVr5Q&smuh=35373&lh=Ac_NwqmF7qdcJVDH" target="_blank"><img src="images/reseaux_sociaux/facebook1.png" title="facebook" class="imgFooter"></a></li>
            </ul>
        </div>     
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>